// colors.scss
$color-primary: rgb(218, 170, 14);
$color-secondary: rgb(127, 236, 55);
$color-white: rgb(255, 255, 255);
$color-grey: rgb(212, 213, 216);
$color-light-green: rgb(170, 240, 113);
$color-blue: rgb(58, 107, 212);
$color-dark-grey: rgb(49, 49, 48);
